<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-naxt-beacon"
	version="0.0.1">

	<name>NaxtBeacon</name>
	<description>Naxt SDK beacons</description>
	<license>MIT</license>
    <author>Diego R Nespolo</author>
	<keywords>Iberika, Beacons</keywords>

    <dependency id="cordova-plugin-estimote" />

	<js-module src="plugin/src/js/NaxtBeacon.js" name="NaxtBeacon">
		<clobbers target="naxtbeacon" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="NaxtBeacon" >
				<param name="android-package" value="br.com.naxt.sdk.NaxtBeacon"/>
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH" />
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="br.com.naxt.sdk.service.ScanService" android:exported="true" />
			<receiver android:enabled="true" android:exported="true" android:label="BeaconBroadcastReceiver" android:name="br.com.naxt.sdk.service.BeaconBroadcastReceiver">
				<intent-filter>
					<category android:name="android.intent.category.DEFAULT" />
					<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
					<action android:name="android.intent.action.BOOT_COMPLETED" />
					<action android:name="br.com.iberika.sdk.SCAN_SERVICE" />
				</intent-filter>
			</receiver>
		</config-file>

		<source-file src="plugin/src/android/ScanService.java" target-dir="src/br/com/naxt/sdk/service" />
		<source-file src="plugin/src/android/BeaconBroadcastReceiver.java" target-dir="src/br/com/naxt/sdk/service" />
		<source-file src="plugin/src/android/ServiceUtils.java" target-dir="src/br/com/naxt/sdk/service" />
	</platform>
	<platform name="ios">
		<framework src="CoreBluetooth.framework" />
		<framework src="CoreLocation.framework" />
		<framework src="SystemConfiguration.framework" />

		<header-file src="plugin/src/ios/AppDelegate+scanservice.h" />
		<source-file src="plugin/src/ios/AppDelegate+scanservice.m" />

		<config-file target="config.xml" parent="/*">
			<feature name="NaxtBeacon">
				<param name="ios-package" value="NaxtBeacon" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

				<config-file parent="/*" target="config.xml">
						<feature name="LocationManager">
								<param name="ios-package" value="CDVLocationManager"/>
						</feature>
				</config-file>

				<config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
						<string>This app would like to scan for beacons when in the background.</string>
				</config-file>
				<config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
						<string>This app would like to scan for beacons while it is in use.</string>
				</config-file>
	</platform>
</plugin>
